.page-container {
  padding-top: 139px;
}
.top {
  width: 900px;
  margin: auto;
  margin-top: 48px;
  text-align: center;
}
.page-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 130px;
  font-feature-settings: "ss03" on;
  color: #313131;
}
.about-details {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #767676;
}
.bandwagon {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  font-feature-settings: "ss03" on;
  color: #313131;
  width: 100%;
  text-align: center;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 96px;
}
.member {
  padding: 8px;
  background-color: white;
  border-radius: 16px;
}
.image-container {
  width: 230px;
  position: relative;
  margin-top: 32px;
}
.under-lay {
  padding: 2px;
  background-color: transparent;
}
.under-lay:hover {
  background: linear-gradient(
    89.97deg,
    rgba(146, 235, 255, 1) 0.02%,
    rgba(139, 152, 255, 1) 50.31%,
    rgba(103, 254, 155, 1) 99.98%
  );
  padding: 2px;
  border-radius: 16px;
}
.member-image {
  object-fit: contain;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  background-color: white;
}
.member-image:hover {
  background-color: #7683ee;
}
.name {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  font-feature-settings: "ss03" on;
  color: #313131;
  margin-top: 8px;
}
.position {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  font-feature-settings: "ss03" on;
  color: #767676;
  margin-top: 8px;
}
.vector {
  width: 1440px;
  height: 200px;
  object-fit: contain;
  margin-top: 96px;
}
