.section-container {
  margin: 96px 48px;
}
.section-title {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 86.4px;
  color: #313131;
  font-style: normal;
  font-feature-settings: "ss03" on;
}

.section-subtitle {
  font-family: "Satoshi", sans-serif;
  font-size: 20;
  line-height: 27px;
  font-weight: 500;
  color: #767676;
  width: 636px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.gradient-container {
  /* margin-top: 96px; */
  position: relative;
}
.star_1,
.star_3 {
  position: absolute;
  top: 0;
}

.star_1 {
  left: 320px;
}
.star_2 {
  left: 670px;
  position: absolute;
  top: -20px;
}
.star_3 {
  right: 160px;
}
