.section-container {
  margin: 96px 48px;
  position: relative;
}
.vector {
  width: 1440px;
  height: 200px;
  object-fit: contain;
}
.deliver-container {
  background: url("../public/enovatePattern.png"), #7683ee;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 24px;
  padding: 64px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  font-feature-settings: "ss03" on;
  color: #ffffff;
}
.btn {
  padding: 16px 24px;
  margin-top: 24px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  font-feature-settings: "ss03" on;
  color: #767676;
  background: linear-gradient(90deg, #ffffff 0%, rgba(249, 249, 249, 0.8) 100%);
  border-radius: 24px;
  border: none;
}
.arrow {
  margin-left: 20px;
}
.footer-container {
  margin-top: 96px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-description {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  width: 280px;
  font-feature-settings: "ss03" on;
  color: #767676;
}
.bottom {
  margin-top: 48px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.contact-btn {
  padding: 16px 24px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  font-feature-settings: "ss03" on;
  color: #ffffff;
  height: 64px;
  border: none;
  background: linear-gradient(90deg, #92ebff 0%, #6ddbf3 100%);
  border-radius: 24px;
}
.contact-text {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 24px;
  font-feature-settings: "ss03" on;
  color: #767676;
}
.location {
  width: 150px;
}
.location-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  font-feature-settings: "ss03" on;
  color: #313131;
}
.location-detail {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  font-feature-settings: "ss03" on;
  text-align: justify;
  color: #767676;
}
.footer-links {
  margin-top: 16px;
}
.link {
  list-style: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  line-height: 24px;
  font-feature-settings: "ss03" on;
  color: #313131;
}
.socials-link {
  list-style: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  line-height: 24px;
  font-feature-settings: "ss03" on;
  color: #767676;
}
