.header-container-wrapper {
  background: linear-gradient(
    89.97deg,
    rgba(146, 235, 255, 0.3) 0.02%,
    rgba(103, 254, 155, 0.3) 50.31%,
    rgba(139, 152, 255, 0.3) 99.98%
  );
  padding: 2px;
  margin: 16px 48px;
  border-radius: 16px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-container {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 16px;
  /* position: fixed; */
}
.right-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.local-time {
  font-family: "satoshi", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  color: #313131;
  font-feature-settings: "ss03" on;
}
.time-gray {
  color: #767676;
}
.explore-container {
  display: flex;
  align-items: center;
}
.explore-container:hover {
  cursor: pointer;
}
.explore {
  font-family: "satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  color: #767676;
  font-feature-settings: "ss03" on;
}
.explore_svg_container {
  padding: 6px 10px;
  margin-left: 4px;
}
.explore_white_container {
  background-color: #767676;
  border-radius: 12px;
  padding: 6px 10px;
  margin-left: 4px;
}
