.hero-container {
  margin: 24px 48px;
  padding: 64px 24px;
  background: url("../public/gradient.png") no-repeat center center fixed;
  background-size: cover;
  border-radius: 24px;
}
.hero-title {
  font-size: 100px;
  font-family: "satoshi", sans-serif;
  line-height: 135px;
  font-weight: 700;
  color: white;
}
.hero-subtitle {
  width: 800px;
  margin-top: 32px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: white;
}
.hero-btn {
  font-family: "satoshi", sans-serif;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  border: none;
  color: #767676;
  background: linear-gradient(90deg, #ffffff 0%, rgba(249, 249, 249, 0.8) 100%);
  border-radius: 24px;
  margin-top: 64px;
}
.bg_arrow {
  margin-top: 64px;
}
.arrow-container {
  margin-left: 16px;
}
