.hero-container {
  margin: 0px 48px 24px 48px;
  padding: 64px 24px;
  background: linear-gradient(
    165.46deg,
    #92ebff 3.52%,
    #8b98ff 49.35%,
    #67fe9b 92.76%
  );
  border-radius: 24px;
}
.hero-title {
  font-size: 96px;
  font-family: "satoshi", sans-serif;
  line-height: 135px;
  font-weight: 700;
  color: white;
  font-feature-settings: "ss03" on;
}
.hero-subtitle {
  width: 800px;
  margin-top: 32px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-feature-settings: "ss03" on;
}
.hero-btn {
  font-family: "satoshi", sans-serif;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  border: none;
  color: #767676;
  background: linear-gradient(90deg, #ffffff 0%, rgba(249, 249, 249, 0.8) 100%);
  border-radius: 24px;
  margin-top: 64px;
  font-feature-settings: "ss03" on;
}
.hero-btn:hover {
  background: linear-gradient(
    -90deg,
    #ffffff 0%,
    rgba(249, 249, 249, 0.8) 100%
  );
  cursor: pointer;
}
.arrow-container {
  margin-left: 16px;
}
.get-fascinated {
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "ss03" on;
  color: white;
}
.hero-bottom {
  display: flex;
  align-items: baseline;
  position: relative;
  margin-top: 130px;
}
.bottom-text {
  margin-left: 40%;
  display: flex;
  align-items: center;
}
.star-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 1120px) and (min-width: 481px) {
  .hero-container {
    margin: 24px;
    padding: 36px 24px;
  }
  .hero-title {
    font-size: 74px;
    line-height: 90px;
  }
  .hero-subtitle {
    width: 80%;
    margin-top: 24px;
  }
  .hero-btn {
    margin-top: 48px;
  }
  .bottom-text {
    margin-left: 35%;
  }
  .hero-star {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .hero-container {
    margin: 16px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
  }
  .hero-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    line-height: 19px;
    margin-top: 32px;
    padding: 18.5px 24px;
  }
  .hero-star {
    width: 120px;
    height: auto;
    margin: 32px 0px 16px 0px;
  }
  .hero-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    margin-top: 16px;
  }
  .hero-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  .bottom-text,
  .star-container {
    margin-left: 0;
  }
  .star-container {
    position: relative;
  }
  .bottom-text {
    margin-right: 0;
    margin-top: 8px;
  }
  .arrow-svg {
    width: 20px;
    height: auto;
  }
}
