.section-container {
  margin: 96px 48px;
  position: relative;
}
.vector {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 96px;
}
.deliver-container {
  background: url("../public/enovatePattern.png"), #7683ee;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 24px;
  padding: 64px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  font-feature-settings: "ss03" on;
  color: #ffffff;
}
.btn {
  padding: 16px 24px;
  margin-top: 24px;
  display: flex;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  font-feature-settings: "ss03" on;
  color: #767676;
  background: linear-gradient(90deg, #ffffff 0%, rgba(249, 249, 249, 0.8) 100%);
  border-radius: 24px;
  border: none;
}
.btn:hover {
  background: linear-gradient(
    -90deg,
    #ffffff 0%,
    rgba(249, 249, 249, 0.8) 100%
  );
  cursor: pointer;
}
.arrow {
  margin-left: 16px;
}

@media only screen and (max-width: 920px) and (min-width: 481px) {
  .section-container {
    margin: 0px 24px;
  }
  .vector {
    margin-top: 0px;
  }
  .title {
    font-size: 58px;
  }
}

@media screen and (max-width: 480px) {
  .section-container {
    margin: 0 16px;
  }
  .vector {
    width: 600px;
    margin-top: 16px;
  }
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    width: 328px;
    text-align: center;
  }
  .btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .arrow {
    margin-left: 12px;
  }
  .arrow-svg {
    width: 20px;
    height: auto;
  }
}
