.video_section_container {
  position: relative;
  margin: 96px 48px;
  padding: 48px 0px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../public/enovatePattern.png"), #7683ee;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.video-title {
  font-size: 64px;
  font-family: "Satoshi", sans-serif;
  font-feature-settings: "ss03" on;
  line-height: 86.4px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.video_container {
  margin-top: 48px;
}

@media only screen and (max-width: 1120px) and (min-width: 481px) {
  .video_section_container {
    margin: 48px 24px;
    padding: 36px 24px;
  }
  .video-title {
    font-size: 48px;
    line-height: 67.2px;
  }
}
@media screen and (max-width: 480px) {
  .video_section_container {
    margin: 48px 16px;
    padding: 16px;
  }
  .video-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
  }
  .video_container {
    margin: 0;
  }
}
